
<div class="c-content_center">
  <section class="c-search">
    <div class="c-container">
      <div class="c-tickets_logo"><img src="assets/img/logo.png" alt="China tickets logo"/></div>
      <div class="c-search_form">
        <form>
          <div class="c-search_form__fields">
            <div class="c-search_form__field">
              <input type="text" placeholder="Киев"/>
            </div>
            <div class="c-search_form__field">
              <input type="text" placeholder="Гуанджоу"/>
            </div>
            <button type="button" class="c-search_form__switch"></button>
          </div>
          <div class="c-search_form__buttons">
            <button type="button" class="c-search_form__button c-btn">Туда</button>
            <button type="button" class="c-search_form__button c-btn">Обратно</button>
          </div>
          <!-- additional options button--><a href="#" class="additional_btn">Дополнительные параметры</a>
          <!-- additional options start-->
          <div class="c-search_form__additional">
            <div class="c-search_form__selects">
              <div class="c-search_form__select">
                <label><i class="fa fa-user"></i></label>
                <select id="c-n--of-p">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
              <div class="c-search_form__select">
                <label><i class="fa fa-user"></i></label>
                <select id="c-n--of-c">
                  <option>Бизнес</option>
                  <option>Обычный</option>
                  <option>VIP</option>
                </select>
              </div>
            </div>
            <div class="c-search_form__baggage">
              <button type="button" class="c-btn"><i class="fa fa-case"></i><span>1</span></button>
              <button type="button" class="c-btn"><i class="fa fa-case"></i><span>2</span></button>
              <button type="button" class="c-btn"><i class="fa fa-case"></i><span>3</span></button>
            </div>
            <div class="c-search_form__flights">
              <div class="c-search_form__flight">
                <input type="radio"/><span>Только прямой рейс</span>
              </div>
              <div class="c-search_form__flight">
                <input type="radio"/><span>Визовый выезд</span>
              </div>
            </div>
            <div class="c-search_form__comment">
              <input type="textare"/>
            </div>
          </div>
          <!-- additional options end-->
          <input type="submit" value="Поиск" class="c-search_form__submit c-btn"/>
        </form>
      </div>
    </div>
  </section>
</div>